.landing-grid-parent{
    display: flex;
    position: relative;
}
.landing-grid{
   display: flex;
   flex-direction: row;
   justify-content:center;
   align-items: center;
   width: 100%;
   margin-left: 0px;
   margin-right: 0px;
   padding-left: 0%;
   padding-right: 0%;
   position: relative;
}
.landing-grid-img{
    position: absolute;
}

.Landing-page{
position: absolute;
text-align: center;
color: white;
}
.Landing-page-btn {
    background-color: black;
    border-color: black;
    color: white;
    height: 20px;
    align-items: center;
 }

 .Landing-page-font{
    font-family: 'Literata', serif;
 }

 .Landing-page-font2{
font-family: 'Times New Roman', Times, serif;
 }